@font-face {
    font-family: eoteSymbol;
    src: url(EotE_Symbol-Regular_v1.otf);
}
div.symbol {
    float: left;
    font-family: eoteSymbol;
    font-size: 64px;
    color: black;
}
div.symbol-ability::before {
    color: green;
    content: "d";
    margin: auto 8px;
}
div.symbol-proficiency::before {
    color: gold;
    content: "c";
    margin: auto 1.595px;
}
div.symbol-boost::before {
    color: skyblue;
    content: "b";
    margin: auto 8px;
}
div.symbol-difficulty::before {
    color: #453399;
    content: "d";
    margin: auto 8px;
}
div.symbol-challenge::before {
    color: #f61804;
    content: "c";
    margin: auto 1.595px;
}
div.symbol-setback::before {
    content: "b";
    margin: auto 8px;
}
div.symbol-success::before {
    content: "s";
    margin: auto 8px;
}
div.symbol-failure::before {
    content: "f";
    margin: auto 4.795px;
}
div.symbol-triumph::before {
    content: "x";
    margin: auto 8px;
}
div.symbol-despair::before {
    content: "y";
    margin: auto 4.795px;
}
div.symbol-advantage::before {
    content: "a";
    margin: auto 1.595px;
}
div.symbol-threat::before {
    content: "t";
    margin: auto 4.795px;
}